<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.MessageDao">
    <insert id="insert" parameterType="com.selab.demo.model.MessageModel">
        INSERT INTO selabspringe.messages(sender_id,receiver_id,regTime,message,doc_ex_path)
        VALUES(#{sender_id}, #{receiver_id}, #{regTime}, #{message}, #{doc_ex_path})
    </insert>
    <resultMap id="messageMap" type="com.selab.demo.model.MessageModel">
        <id property="MID" column="MID"/>
        <result property="sender_id" column="sender_id"/>
        <result property="receiver_id" column="receiver_id"/>
        <result property="regTime" column="regTime"/>
        <result property="message" column="message"/>
        <result property="doc_ex_path" column="doc_ex_path"/>
    </resultMap>
    <select id="findbyMID" parameterType="int" resultMap="messageMap">
    SELECT * FROM messages WHERE MID=#{arg0}
    </select>
    <select id="findbysender_id" parameterType="int" resultMap="messageMap">
        SELECT * FROM messages WHERE sender_id=#{arg0}
    </select>
    <select id="findbyreceiver_id" parameterType="int" resultMap="messageMap">
        SELECT * FROM messages WHERE receiver_id=#{arg0}
    </select>
    <select id="findbyMID2" parameterType="int" resultType="String">
        SELECT messages FROM process WHERE MID=#{arg0}
    </select>
    <update id="update" parameterType="int" >
        UPDATE selabspringe.messages
        SET sender_id = #{sender_id}, receiver_id = #{receiver_id}, regTime = #{regTime}, message = #{message}, doc_ex_path = #{doc_ex_path}
        WHERE MID = #{MID}

    </update>
    <delete id="delete" parameterType="int" >
        DELETE FROM messages WHERE MID = #{arg0}
    </delete>

</mapper>
