<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.ProcessDao">
    <insert id="insert" parameterType="com.selab.demo.model.ProcessModel">
        INSERT INTO selabspringe.process (notes, UID, AID, state, price, fileIDs)
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        VALUES (#{notes}, #{UID}, #{AID}, #{state}, #{price}, #{fileIDs})

    </insert>
    <select id="findByUID" parameterType="int" resultType="com.selab.demo.model.ProcessModel">
    SELECT * FROM process WHERE UID=#{UID}
    </select>
    <select id="findByState" parameterType="String" resultType="com.selab.demo.model.ProcessModel">
        SELECT * FROM process WHERE state=#{state}
    </select>
    <select id="findAll" parameterType="int" resultType="com.selab.demo.model.ProcessModel">
        SELECT * FROM process
    </select>
    <select id="findByPID" parameterType="int" resultType="com.selab.demo.model.ProcessModel">
        SELECT * FROM process WHERE PID=#{PID}
    </select>
    <select id="findByPID2" parameterType="int" resultType="String">
        SELECT PID FROM process WHERE PID=#{PID}
    </select>

    <delete id="delete" parameterType="int" >
        DELETE FROM process WHERE PID = #{PID}
    </delete>

</mapper>
