<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.TabledataDao">
    <insert id="insert" parameterType="com.selab.demo.model.TabledataModel" useGeneratedKeys=true  keyProperty="TID"  keyColumn="TID">
        INSERT INTO selabspringe.tabledata(name, id, functions)
        VALUES(#{name}, #{id} , {functions})
    </insert>
    <resultMap id="tabledataMap" type="com.selab.demo.model.TabledataModel">
        <id property="MID" column="MID"/>
        <result property="sender_id" column="sender_id"/>
        <result property="receiver_id" column="receiver_id"/>
        <result property="regTime" column="regTime"/>
        <result property="message" column="message"/>
        <result property="doc_ex_path" column="doc_ex_path"/>
    </resultMap>
    <select id="findbyTID" parameterType="int" resultMap="tabledataMap">
        SELECT * FROM selabspringe.tabledata WHERE TID = #{arg0}
    </select>
    <select id="findbyTID" parameterType="int" resultType="int">
        SELECT TID FROM selabspringe.tabledata WHERE TID = #{arg0}
    </select>
    <update id="update" parameterType="int" >
        UPDATE selabspringe.tabledata
        SET id = #{id}, name = #{name}, functions =#{functions}
        WHERE TID = #{TID}
    </update>
    <delete id="delete" parameterType="int" >
        DELETE FROM tabledata WHERE TID = #{arg0}
    </delete>

</mapper>
