<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.ApplicationDao">
    <insert id="insertApp" parameterType="com.selab.demo.model.ApplicationModel">
        INSERT INTO selabspringe.application(appplicantID, auditorID, curr_state, doc_path, phone, time, title)
        VALUES (#{applicantID}, #{audtiorID}, #{curr_state}, #{doc_path}, #{phone}, #{time}, #{title})
    </insert>
    <select id="checkbyuserA" parameterType="String" resultType="String">
        SELECT * FROM application WHERE applicantID=#{arg0}
    </select>
    <select id="checkbyuserB" parameterType="String" resultType="String">
        SELECT * FROM application WHERE auditor=#{arg0}
    </select>
    <select id="checkbyAID" parameterType="int" resultType="String">
        SELECT * FROM application WHERE AID=#{arg0}
    </select>
    <update id="updateapplicant" parameterType="com.selab.demo.model.ApplicationModel" >
        UPDATE application
        SET applicantID = #{applicantID}, auditorID = #{audtiorID}, curr_state = #{curr_state},doc_path = #{doc_path},phone = #{phone},time = #{time},title = #{title}
        WHERE AID=#{AID}
    </update>
    <delete id="deleteapplicant" parameterType="int" >
        DELETE FROM application WHERE AID = #{arg0}
    </delete>
</mapper>