<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.FileDao">
    <insert id="upload" parameterType="com.selab.demo.model.FileModel">
        <selectKey keyProperty="id" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO selabspringe.file(filePath, PID) VALUES (#{filePath}, #{PID})

    </insert>
    <select id="selectAllFiles" resultType="com.selab.demo.model.FileModel">
        SELECT * FROM file
    </select>
    <select id="selectByPID" parameterType="integer" resultType="com.selab.demo.model.FileModel">
        SELECT * FROM file WHERE PID=#{PID}
    </select>
    <select id="selectByFID" parameterType="integer" resultType="com.selab.demo.model.FileModel">
        SELECT * FROM file WHERE FID=#{FID}
    </select>
</mapper>