<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.InsertDao">
    <insert id="insertTest" parameterType="String">
        INSERT INTO selabspringe.test(data)
        VALUE (#{data})
    </insert>


    <insert id="insertID" parameterType="String">
        INSERT INTO selabspringe.test(id)
        VALUE (#{data})
    </insert>
</mapper>