<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.ProcessDao">
    <insert id="insert" parameterType="com.selab.demo.model.ProcessModel">
        <selectKey keyProperty="PID" order="AFTER" resultType="Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO selabspringe.process(notes, UID, AID, state, QID)

        VALUES (#{notes}, #{UID}, #{AID}, #{state}, #{QID})

    </insert>
    <select id="findByUID" parameterType="int" resultType="com.selab.demo.model.ProcessModel">
    SELECT * FROM process WHERE UID=#{UID}
    </select>
    <update id="updateState" parameterType="integer">
        UPDATE selabspringe.process SET state=#{state} WHERE PID=#{PID}
    </update>
    <select id="findByState" parameterType="String" resultType="com.selab.demo.model.ProcessModel">
        SELECT * FROM process WHERE state=#{state}
    </select>
    <select id="findAll" parameterType="int" resultType="com.selab.demo.model.ProcessModel">
        SELECT * FROM process
    </select>
    <select id="findByPID" parameterType="int" resultType="com.selab.demo.model.ProcessModel">
        SELECT * FROM process WHERE PID=#{PID}
    </select>
    <select id="findByPID2" parameterType="int" resultType="String">
        SELECT PID FROM process WHERE PID=#{PID}
    </select>
    <update id="update" parameterType="com.selab.demo.model.ProcessModel">
        UPDATE selabspringe.process SET notes=#{notes}, state=#{state} WHERE PID=#{PID}
    </update>
    <update id="setAID" parameterType="int">
        UPDATE selabspringe.process SET AID=#{AID} WHERE PID=#{PID}
    </update>
    <update id="setCID" parameterType="int">
        UPDATE selabspringe.process SET CID=#{CID} WHERE PID=#{PID}
    </update>
    <update id="setQID" parameterType="int">
        UPDATE selabspringe.process SET QID=#{QID} WHERE PID=#{PID}
    </update>
    <update id="setAgID" parameterType="int">
        UPDATE selabspringe.process SET AgID=#{AgID} WHERE PID=#{PID}
    </update>
    <update id="setRID" parameterType="int">
        UPDATE selabspringe.process SET RID=#{RID} WHERE PID=#{PID}
    </update>
    <update id="setRCID" parameterType="int">
        UPDATE selabspringe.process SET RCID=#{RCID} WHERE PID=#{PID}
    </update>
    <update id="setSID" parameterType="int">
        UPDATE selabspringe.process SET SID=#{SID} WHERE PID=#{PID}
    </update>
    <update id="setRTID" parameterType="int">
        UPDATE selabspringe.process SET RTID=#{RTID} WHERE PID=#{PID}
    </update>
    <delete id="delete" parameterType="int" >
        DELETE FROM process WHERE PID = #{PID}
    </delete>
    <delete id="clearFiles" parameterType="int" >
        DELETE FROM selabspringe.file WHERE PID = #{PID}
    </delete>

</mapper>
