<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.ProcessDao">
    <insert id="insert" parameterType="com.selab.demo.model.ProcessModel">
        INSERT INTO selabspringe.process (notes, UID, AID, state, price, fileIDs)
        VALUES (#{notes}, #{UID}, #{AID}, #{state}, #{price}, #{fileIDs})

    </insert>
    <resultMap id="processMap" type="com.selab.demo.model.ProcessModel">
        <id property="AID" column="AID"/>
        <result property="PID" column="PID"/>
        <result property="UID" column="UID"/>
        <result property="state" column="state"/>
        <result property="notes" column="notes"/>
        <result property="price" column="price"/>
        <result property="fileIDs" column="fileIDs"/>
    </resultMap>
    <select id="findByUID" parameterType="int" resultMap="processMap">
    SELECT * FROM process WHERE UID=#{UID}
    </select>
    <select id="findByPID" parameterType="int" resultMap="processMap">
        SELECT * FROM process WHERE PID=#{PID}
    </select>
    <select id="findByPID2" parameterType="int" resultType="String">
        SELECT PID FROM process WHERE PID=#{PID}
    </select>

    <delete id="delete" parameterType="int" >
        DELETE FROM process WHERE PID = #{arg0}
    </delete>

</mapper>
