<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selab.demo.dao.UserDao">
    <insert id="insert" parameterType="com.selab.demo.model.User">
        INSERT INTO selabspringe.user(nickname, njuNumber, emailAddr, password, gender, phone, type)
        VALUES (#{nickname}, #{njuNumber}, #{emailAddr} ,#{password}, #{gender}, #{phone}, #{userType})
    </insert>
    <select id="login" parameterType="String" resultType="String">
        SELECT nickname FROM user WHERE nickname=#{arg0} AND password=#{arg1}
    </select>
</mapper>